@import 'reset.css';

body {
  background: #fff;
  color: #111;
  font-family: 'Lato', sans-serif;  
  font-size: 15px;
  line-height: 1.5;
  padding: 50px;  
}


h1 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 900;
}

p {
  margin-bottom: 15px;
  line-height: 1.7;
}

a {
  color: #999;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #333;
  }
}

section, aside {
  padding: 15px 0;
  border-top: 1px solid #999;
}

section {
  width: 440px;
  padding-right: 50px;
  float: left;
}

aside {
  padding-left: 50px;
  float: right;
  
  nav {
    a {
      display: block;
      text-align: right;
    }
  }
}



@media only screen and (max-width: 900px) {

  section, aside {
    width: 440px;
    float: none;
    padding: 15px 50px 15px 0;
  } 

  aside {
    nav {
      a { text-align: left; }
    }
  }
}

@media only screen and (max-width: 600px) {
  body { padding: 20px; }
  section, aside { 
    width: auto; 
    padding: 15px 30px 15px 0;
  }
}
