@import url(reset.css);
html {
  width: 100%;
  height: 100%; }

body {
  min-height: 100%;
  background: #353033;
  color: #b4b4b4;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-left: 13px solid #ED1A46; }

h1 {
  color: #fff;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 15px;
  font-weight: 900;
  letter-spacing: -1px; }

p {
  margin-bottom: 15px;
  line-height: 1.7; }

a {
  color: #d1ffbf;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

section, aside {
  width: 428px;
  padding: 50px 50px 0; }

section {
  padding-right: 50px; }

aside nav a {
  display: block;
  font-size: 11px; }

@media only screen and (max-width: 900px) {
  section, aside {
    float: none; }

  aside nav a {
    text-align: left; } }
@media only screen and (max-width: 600px) {
  body {
    padding: 20px; }

  section, aside {
    width: auto;
    padding: 15px 30px 15px 0; } }
