html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  position: relative;
  min-height: 100%;
  padding: 70px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #cccccc;
  background: rgba(2, 19, 23, 0.6) url('../images/noise.png') repeat top left fixed;
}

::-moz-selection, ::selection {
  background: #90c9db;
  color: #fff;
}

a {
  color: #90c9db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, b {
  color: #ffffff;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 45px;
}

h2 {
  font-size: 20px;
  margin-bottom: 37px;
}

p {
  line-height: 21px;
  margin-bottom: 19px;
}

ul li {
  color: #bbbbbb;
  margin-bottom: 8px;
}

ul b:after {
  content: ":";
}

ul ul {
  display: inline-block;
  padding: 0 10px;
}

ul ul li {
  display: inline-block;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #bbbbbb;
}

ul ul li:last-child {
  border: none;
}

section {
  margin-bottom: 82px;
  max-width: 650px;
}

.logomark {
  display: block;
  width: 70px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 60px;
}

/* Tablets */
@media only screen and (max-width: 900px) {
  body {
    padding: 50px;
  }
  .logomark {
    top: 40px;
    right: 50px;
    width: 60px;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  body {
    padding: 35px;
  }
  h1 {
    text-align: center;
  }
  .logomark {
    position: static;
    margin: 0 auto 45px;
  }
  ul b {
    display: block;
  }
  ul b:after {
    content: "";
  }
  ul li {
    line-height: 21px;
    margin-bottom: 19px;
  }
  ul ul {
    display: block;
    padding-left: 0;
  }
}
